<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btw.parser.mapper.StatusMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO ITAX_AUDITOR_STATUS
        (ticket_no,
        cnj_ticket_no,
        issue_date,
        operation,
        coupon_status,
        ori_source)
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.ticketNo, jdbcType=VARCHAR},
            #{item.cnjTicketNo, jdbcType=VARCHAR},
            #{item.issueDate, jdbcType=VARCHAR},
            #{item.operation, jdbcType=VARCHAR},
            #{item.couponStatus, jdbcType=VARCHAR},
            #{item.oriSource, jdbcType=VARCHAR}
            FROM DUAL
        </foreach>
    </insert>
</mapper>
